@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #64CCC5;
    --secondary-bg-color: #0C0C0C;
    --bg-color: #0C0C0CE5;
    --white-color: #0C0C0CE5;
    --light-gray-color: #F4F4F4;
    --dark-gray-color: #DFDFDF;

}

.nav-bg-color {
    background-color: var(--bg-color) !important;
    color: var(--white-color) !important;
}

.nav-icon-bars {
    filter: invert(1);

}

.roboto {
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 0.5px;

}

.dm-sans {
    font-family: 'DM Sans', sans-serif !important;
    letter-spacing: 0.5px;
}

/* Headings → Roboto */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

/* All other text → DM Sans */
body {
    font-family: 'DM Sans', sans-serif;
}



.hero-section {
    background-color: var(--bg-color) !important;
    position: relative;

}

.text-blue {
    color: var(--primary-color);
}

.bg-color-black {
    background-color: var(--bg-color);
    color: var(--light-gray-color);
}

.bg-color-gray {
    background-color: var(--light-gray-color);
}

.hero-img {
    max-width: 100%;
    height: 75%;
}

.ornament {
    max-width: 80px;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
}

.hero {
    position: relative;
    /* background: #0C0C0C; */
}

.active-service-card {
    background-color: var(--bg-color);
    color: var(--light-gray-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.active-service-card:hover {
    background-color: var(--dark-gray-color);
    color: var(--bg-color);
}

.active-service-card img {
    border: 1px solid black;
    border-radius: 50%;
}


.service-card {
    background-color: var(--dark-gray-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.service-card:hover {
    background-color: var(--bg-color);
    color: var(--light-gray-color);
}