*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color : #64CCC5;
    --secondary-bg-color: #0C0C0C;
    --bg-color: #0C0C0CE5;
    --white-color: #0C0C0CE5;
    --light-gray-color:#F4F4F4;
    --dark-gray-color:#DFDFDF;
}

.nav-bg-color{
    background-color: var(--bg-color) !important;
    color: var(--white-color) !important;
}

.hero-section{
    background-color: var(--bg-color) !important;
    position: relative;
    
}

.text-blue{
    color: var(--primary-color);
}

.bg-color-black{
    background-color: var(--bg-color);
    color: var(--light-gray-color);
}
.bg-color-gray{
    background-image: var(--light-gray-color);
}
.hero-img{
    max-width:100%;
    height: 75%;
}

.ornament{
    max-width: 80px;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
}

.hero{
    position: relative;
    /* background: #0C0C0C; */
}

.active-service-card {
    background-color: var(--bg-color);
    color: var(--light-gray-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.active-service-card:hover {
    background-color: var(--dark-gray-color);
    color: var(--bg-color);
}

.active-service-card img{
    border: 1px solid black;
    border-radius: 50%;
}


.service-card {
    background-color: var(--dark-gray-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.service-card:hover {
    background-color: var(--bg-color);
    color: var(--light-gray-color);
}



