*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color-1: #043873;
    --primary-color-2: #4F9CF9;
    --secondary-color-1: #FFE492;
    --secondary-color-2: #B4B4B4;
    --secondary-color-3: #A7CEFC;
    --secondary-color-4: #212529;
    --secondary-color-white: #FFFFFF;
}

.bg-darkblue{
    background-color: var(--primary-color-1) !important;
}

.bg-peach{
    background-color: var(--secondary-color-1);
}

.text-darkblue{
    color: var(--primary-color-1);
}

.bg-peach:hover{
    background-color: var(--secondary-color-4);
    color: white;
}

.blue-btn:hover{
    background-color: var(--secondary-color-2);
    color: var(--primary-color-1);
}

.bg-lightblue{
    background-color: var(--primary-color-2);
    color: var(--secondary-color-white);
}


/* ===== HERO ===== */
.hero-section {
    height: 91vh;
    margin: auto;
    background-color: var(--primary-color-1);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-image {
    max-height: 55vh;
    width: auto;
}

/* ===== BUTTON ICON ===== */
.arrow-icon {
    width: 30px;
    margin-left: 6px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
    .hero-section {
        height: auto;
        padding: 3rem 0;
    }

    .hero-image {
        max-height: 40vh;
    }
}

.carousel-item .card {
    margin: 0 auto;
    max-width: 90%;
    transition: transform 0.3s ease-in-out;
}

.carousel-item.active .card {
    transform: scale(1.01);
}

/* Small dots */
.carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
}

.carousel-indicators .active {
    background-color: var(--primary-color-2); 
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}


